<form [formGroup]="user-landingForm" (ngSubmit)="onSubmit()"></form>

<div class="row mb-3">
    <div class="col-4 my-2">
               
       <div class="card my-card border border-curved text-center btn btn-outline-secondary" onclick="location.href='stockexchange'">
           <div class="card-body">
               <h6 class="card-title display-2">Stock Exchange</h6>
           </div>
       </div>
       
   </div>
   <div class="col-4 my-2">
               
       <div class="card my-card border border-curved text-center btn btn-outline-secondary" onclick="location.href='updateipo'">
        <div class="card-body">
            <h6 class="card-title display-2">Update IPO</h6>
        </div>
    </div>
    