<div class="h1 text-center my-6 text-white">STOCK MARKETING</div>
<nav class="navbar navbar-expand-lg bg-dark header">
  <a class="navbar-brand" href="">
      <img class="avatar" src="../assets/img.jpg" height=75 width=75 alt="Stock Logo">
  </a>
 <br/>
 <br/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon">
    </span>
    </button>
  <div class="collapse navbar-collapse bg-light" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
          <a [routerLink]="['login']" class="nav-link "><button type="button" class="btn btn-dark"><i class="fas fa-sign-in-alt"></i>Login</button></a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['highcharts']" class="nav-link "><button type="button" class="btn btn-dark"><i class="fas fa-sign-in-alt"></i>Charts</button></a>
    </li>
      <li class="nav-item">
          <a [routerLink]="['register']" class="nav-link"><button type="button" class="btn btn-dark"><i class="fas fa-registered"></i>Register</button></a>
      </li>
        <div class="float-right">
            <a class="nav-link text-danger float-right" [routerLink]="['logout']"><button type="button" class="btn btn-dark">Logout</button></a>
        </div>
        </ul>  
        </div>


</nav>
<br>
<br>
<br>

 
<div class="container body-content app-container">
  <router-outlet></router-outlet>
</div>

<!-- <div class="footer">
  <p class="float-right"><a href="#">Return to top</a></p>

</div> -->

 