<div class="container mt-5 w-50 card card-shadow shadow p-5 lg-5 bg-white rounded" >
    <form [formGroup]="ipoForm">
      <p class="h4 text-center">Update IPO Details</p>
                  
      <div class="input-group mt-3 mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Id</span>
          </div>
            <input type="number" class="form-control" name="id" id="id" placeholder="Enter number" formControlName="id" />
          </div>
    
    
          <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >Company Name</span>
            </div>
              <input type="text" class="form-control" name="companyname" id="companyname" placeholder="Enter companyname" formControlName="companyname"/>
            </div>
    
    
            <div class="input-group mt-3 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Stock Exchange</span>
              </div>
                <input type="text" class="form-control" name="stockexchange" id="stockexchange" placeholder="Enter stockexchange" formControlName="stockexchange"/>
              </div>
    
              <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >Price per share</span>
                </div>
                  <input type="number" class="form-control" name="price" id="price" placeholder="Enter price" formControlName="price"/>
                </div>
    
                <div class="input-group mt-3 mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" >Shares</span>
                  </div>
                    <input type="number" class="form-control" name="shares" id="shares" placeholder="Enter shares" formControlName="shares"/>
                  </div>
    
                  <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" >Open date time</span>
                    </div>
                      <input type="datetime-local" class="form-control" name="opendatetime" id="opendatetime" placeholder="Enter opendatetime" formControlName="opendatetime"/>
                    </div>
    
                    <div class="input-group mt-3 mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" >Remarks</span>
                      </div>
                        <input type="text" class="form-control" name="remarks" id="remarks" placeholder="Enter remarks" formControlName="remarks"/>
                      </div>                   
                      <div class="row justify-content-center">
                        <a onclick="location.href='ipoadd'"><button class="btn btn-success" (click)="adduser()" [disabled]="!ipoForm.valid">Add IPO</button></a>
                            </div>
      
      
      
                  
                    </form>
                  </div>
            
      