
    <table class="table table-primary table-hover table-responsive">
        <tr>
            <th>id</th>
            <th>companyname</th>
            <th>ceoname</th>
            <th>bod</th>
            <th>sector</th>
            <th>turnover</th>
            <th>actions</th>
        </tr>
        <tr *ngFor="let compan of com">
            <td>{{compan.id}}</td>
            <td>{{compan.companyname}}</td>
            <td>{{compan.ceoname}}</td>
            <td>{{compan.bod}}</td>
            <td>{{compan.sector}}</td>
            <td>{{compan.turnover}}</td>
            <td><button class="btn btn-danger" (click)="deleteCompanies(compan)">Delete</button>
                <button class="btn btn-primary" (click)="updateCompanies(compan)">Update</button>
            </td>
        </tr>
    </table>

