<div class="row mb-3">
     <div class="col-4 my-2">
                
        <div class="card my-card border border-curved text-center btn btn-outline-secondary" onclick="location.href='import'">
            <div class="card-body">
                <h6 class="card-title display-2">Import Data</h6>
            </div>
        </div>
        
    </div>
 
    </div>
    <div class="col-4 my-2">
                
        <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='deletecompany'">
            <div class="card-body">
                <h6 class="card-title display-3">Delete company</h6>
            </div>
        </div>
    </div>
    <div class="col-4 my-2">
                
        <div class="card my-card border border-curved text-center btn btn-outline-secondary" onclick="location.href='stockexchange'">
            <div class="card-body">
                <h6 class="card-title display-3">Stock Exchange</h6>
            </div>
        </div>
    </div>
    <div class="col-4 my-2">
                
        <div class="card my-card border border-curved text-center btn btn-outline-success" onclick="location.href='manageexchanges'">
            <div class="card-body">
                <h6 class="card-title display-3">manage exchanges</h6>
            </div>
      </div>
    </div>

    <div class="col-4 my-2">
                
        <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='ipo'">
            <div class="card-body">
                <h6 class="card-title display-3">Update IPO</h6>
            </div>
        </div>
    </div>

   
   
   