<div class="row mb-3">
    <div class="col-4 my-2">
               
       <div class="card my-card border border-curved text-center btn btn-outline-secondary" onclick="location.href='comparesector'">
           <div class="card-body">
               <h2 class="card-title display-6">Compare Sector</h2>
           </div>
       </div>
       
   </div>
   <div class="col-4 my-2">
               
       <div class="card my-card border border-curved text-center btn btn-outline-primary" onclick="location.href='comparecompany'">
           <div class="card-body">
               <h2 class="card-title display-6">Compare Company</h2>
           </div>
       </div>
   </div>

   <div class="col-4 my-2">
               
    <div class="card my-card border border-curved text-center btn btn-outline-secondary" onclick="location.href='userprofile'">
        <div class="card-body">
            <h2 class="card-title display-6">User Profile</h2>
        </div>
    </div>
</div>

</div>